[Desktop Entry]
Type=Application
Name=NiranBoxOS - Aplicar layout
NoDisplay=true
Exec=/usr/local/bin/niranbox-apply-layout.sh
OnlyShowIn=KDE;
X-KDE-autostart-phase=2
